
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="card-header">
    <h3 class="card-title">
        <strong class="text-danger">Chào mừng bạn đến với trang quản trị</strong>
    </h3>
</div>

